.Loader {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

.Loader .sk-cube {
    background-color: #008098;
}