.App {
    display: grid;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

.Container {
    display: grid;
    grid-template-columns:
        [Sidebar] 200px
        [Tweetlist] auto;

    grid-gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}
