.TweetItem {
    padding: 10px;
    border: 1px solid rgba(154, 154, 154, 0.25);
    border-radius: 3px;
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.41);
    margin-bottom: 20px;
}

.TweetItem .date {
    color: #808080;
    font-size: 12px;
    margin-top: 10px;
}