.Header {
    background: #00afd0;
    padding: 0;
    list-style-type: none;
    margin: 0;
    height: 50px;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 21px;
    color: white;
}