.Sidebar * {
    display: flex;
    flex-direction: column;
}

.Sidebar a,
.Sidebar .TweetForm button{
    background: #00afd0;
}

.Sidebar {
    padding-left: 40px;
}

.Sidebar a {
    text-decoration: none;
    color: white;
    padding: 10px 0 10px 10px;
    margin: 10px 0;
}

.Sidebar a:first-child {
    margin-top: 0;
}

.Sidebar a:last-child {
    margin-bottom: 0;
}

.Sidebar a.selected {
    font-weight: bold;
}

button {
    padding: 10px;
    background: none;
    border: 0;
    color: white;
    font-size: 14px;
    font: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-appearance: button;
    user-select:none;
}

.hidden {
    visibility: hidden;
    display: none;
}