.TweetForm button{
    width: 40px;
    text-align: center;
    align-items: center;
    outline:none;
}
.TweetForm input{
    outline:none;
    padding: 10px;
    margin-bottom: 10px;
}

.TweetForm form{
  margin-top: 20px;
}
