.Tweetlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Tweetlist p {
    margin: 0;
}

.Tweetlist .Error {
    background: #ffe8e8;
    padding: 10px;
    border: 1px solid red;
    font-weight: bold;
    color: #d40909;
    text-align:center;
}
